/* for hightlighting completed checkpoints */

.mrp_completed_checkpoint:after {
  background: #52a269;
  border-radius: 3px;
  color: #e2f1e8;
  content: '✓';
  font: 14px/18px 'Arial Unicode', sans-serif;
  margin: 0 0 0 6px;
  padding: 2px 4px;
}

/* link inline subhead */

div.meta ul.links li.first:before {
  content: 'Share this page:';
  padding-right: .5em;
  position: relative;
  top: -3px;
}

/* Consider doing with hook_form_alter */

.field-type-node-reference h2 {
   display: none;
}

.field-type-node-reference div.submitted {
   display: none;
}

.field-type-node-reference div.link-wrapper {
   display: none;
}

.node-book .field-name-field-backlinks2resource {
   display: none;
}

.comment-wrapper .comment .content h3 {
    display: none !important;
}

#comments div.form-item-subject {
  display: none;
}

div.book-navigation {
  display: none;
}

#comments h2.comment-form {
	visibility:hidden;
}

#comment-form:before {
	font-size: 120%;
	font-style: italic;
  content: "Join the conversation!";
}

/* nodereference returns entire node, we just want part */

div.field-name-field-resource div.field-item, 
div.field-name-field-resource div.field-items {
  display: inline;
}

/* calculated size */
div.field-name-field-resource div.node-headline a {
  font-size: 19px !important;   /* 14pt = 18.66667px */
  border: none !important!;
  font-weight: bold;
  display: inline;
  line-height: 19px;    /* 14pt = 18.66667px */
  margin: 0 0 0 6px;
  padding: 0;
  text-transform: none;
}

div.field-name-field-resource .timestamp {
  display: none;
}

div.field-name-field-resource .content .node-author {
  display: none;
}


div.field-name-field-resource .content .field-name-field-toolkit-title {
  display: none;
}

.field-name-field-bibdata .field-label {
  display: none;
}

div.field-name-field-resource .meta {
  display: none;
}

div.field-name-field-resource .content fieldset {
  display: none;
}
 

div.field-name-field-resource .node-headline {
  border: none !important;
}
